KVC_ENV=development
KVC_LOG_LEVEL=INFO
KVC_DATABASE_URL=
KVC_MAX_BOT_TOKEN=
KVC_MAX_WEBHOOK_SECRET=
KVC_KAITEN_API_TOKEN=
KVC_GIGACHAT_CREDENTIALS=
KVC_GIGACHAT_MODEL=GigaChat-Pro
KVC_STT_PROVIDER=
KVC_SALUTESPEECH_AUTH_KEY=
KVC_TOKEN_ENCRYPTION_KEY=

